*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/checkstyle-idea.xml
.idea/sonarlint/issuestore/3/7/37cb6d7db697cb6be81adac37f1bc27e97822e05
.idea/sonarlint/issuestore/b/7/b725e71868a55a5171b46595ba5a41ae963d79a5
.idea/sonarlint/issuestore/e/a/ea1dc2bcb25688fa431d779888989e9affe8a11f
.idea/sonarlint/issuestore/index.pb
